# Kconfig.projbuild
menu "SmartPlug Configurations"

    config SMART_PLUG_PROJECT_VERSION
        string "Project Version"
        default "1.0.0"
        help
            Specify the version of your project.

    rsource "../components/ADE9153/Kconfig"
    rsource "../components/common_variable_handler/Kconfig"
    rsource "../components/display_ssd1306/Kconfig"
    rsource "../components/electricity_relay/Kconfig"
    rsource "../components/fatfs_storage/Kconfig"
    rsource "../components/modem_interface/Kconfig"
    rsource "../components/mqtt_interface/Kconfig"
    rsource "../components/nvs_storage/Kconfig"
    rsource "../components/ThingsBoard/Kconfig"
    rsource "../components/time_manager/Kconfig"
    rsource "../components/touch_button/Kconfig"
    rsource "../components/uart_forwarder/Kconfig"
    rsource "../components/wifi_handler/Kconfig"

endmenu



