menu "Thingsboard Settings"
    config THINGSBOARD_PROJECT_VERSION
        prompt "Project Version"
        string
        default "1.0.0"
        help
            Specify the version of the thingsboard project.
endmenu