menu "UART forwarder Settings"
    config UART_PROJECT_VERSION
        prompt "Project Version"
        string
        default "1.0.0"
        help
            Specify the version of the UART forwarder project.
endmenu