menu "Display Settings"

    config IS_ACTIVATED_DISPLAY
        bool "Enable display settings"
        default n

    if IS_ACTIVATED_DISPLAY

    config DISPLAY_PROJECT_VERSION
        prompt "Project Version"
        string
        default "1.0.0"
        help
            Specify the version of the display project.

    config CUSTOM_DISPLAY_SDA_PIN
        prompt "Set Display SDA Pin"
        int
        range 0 36
        default 21
        help
            This option defines the SDA pin from the display.

    config CUSTOM_DISPLAY_SCL_PIN
        prompt "Set Display SCL Pin"
        int
        range 0 36
        default 22
        help
            This option defines the SCL pin from the display.

    endif # IS_ACTIVATED_DISPLAY

endmenu